* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem=10px */
}
/* body{
    overflow-x: hidden;
    overflow-y: scroll;
  } */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sec-padding {
  padding-top: 20rem;
}
.sec-padding1 {
  padding-top: 15rem;
}
::placeholder {
  color: #9c9ca8 !important;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c9ca8 !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9c9ca8 !important;
}

/* ---------SLICK --------*/
.slick-prev,
.slick-next {
  width: 5rem;
  font-size: 4rem;
  opacity: 0.3;
}
.slick-prev:before,
.slick-next:before {
  color: #d8be6d !important;
}
.slick-prev {
  bottom: 3.2rem !important;
  right: 46rem;
  z-index: 9999;
  transform: rotate(180deg);
}
.slick-next {
  bottom: 4.2rem !important;
  right: 40rem;
}
/* .slick-prev, .slick-next {width: 1px;} */
/* .slick-prev {right: 410px;} */
/* .slick-next {right: 360px;} */
.slick-next:before {
  content: url(../images/arrow-right.png) !important;
}
.slick-prev:before {
  content: url(../images/arrow-right.png) !important;
}
.selected {
  opacity: 1 !important;
}
/* -------------- */
/* .header__logo {
    height: 100px;
    width: 114px;
  } */
/* .header_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  } */
.header {
  margin: 0 auto;
  width: 80%;
  height: 9.5rem;
  padding-top: 0.1rem;
}
.header_container {
  background: linear-gradient(to bottom, #e9d888, #e3cf7e);
  z-index: 10;
}
.logo-img-div2 {
  height: 9.5rem;
}
.logo-img-div2 {
  height: 8rem;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
.header__logo {
  height: 100%;
}

.header__logo-mobile {
  display: none;
}

.list {
  z-index: 12;
  list-style: none;
  display: inline-block;
  padding: 0 2rem;
}

ul.list li {
  display: inline-block;
  padding: 3rem 2rem 1rem;
}

ul.list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

ul.list li a:hover {
  color: #1e2833;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  background: linear-gradient(rgb(233, 214, 135), rgb(180, 145, 63));
  color: white;
  cursor: pointer;
  padding: 1.1rem 2rem;
  border-radius: 6rem;
  font-size: 3rem;
}
.mbl-logo img {
  display: none;
}
.lines {
  display: none;
}
.fixed-position {
  position: fixed;
}
.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 105rem;
}
.main {
  padding-top: 4rem;
  margin-left: 7%;
}
.main-headings {
  padding-top: 20rem;
}
.main-image {
  height: 80rem;
}
.main-image img {
  height: 100%;
}
.main-headings h3 {
  color: #9c9ca8;
  font-size: 3rem;
  text-transform: uppercase;
}
.main-headings h1 {
  color: #323c5a;
  font-size: 4.8rem;
  line-height: 8.4rem;
  margin: 2rem 0 1rem;
}
.default-btn {
  background: #010000;
  border-radius: 4.8rem;
  height: 5.3rem;
  width: 15.8rem;
  padding: 1rem 2rem;
  font-size: 1.8rem !important;
}
.default-btn:hover {
  background: #779fab;
}
.mycustom {
  border: solid 1px green;
  position: relative;
}
.mycustom input[type="text"] {
  border: none;
  width: 100%;
  padding-right: 12.3rem;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  bottom: 0.4rem;
  z-index: 9;
}
.default-input {
  padding: 3rem !important;
  border-radius: 3rem !important;
  border-color: #b5d6e0 !important;
  border: none;
}
.default-in-grp {
  border: 1px solid #b5d6e0;
  border-radius: 3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.send-btn {
  background-color: #b5d6e0;
  border: none;
  color: #ffffff;
  border-radius: 3rem;
  padding: 0.9rem 2.4rem;
  margin: 0.6rem 0.6rem;
}
button.send-btn i {
  margin-left: 3rem;
}
.form-control:focus {
  box-shadow: none;
}
.default-in-grp:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
.sec-headings h2 {
  color: #323c5a;
  font-size: 4.8rem;
  line-height: 8.4rem;
  margin: 12rem 0 1rem;
}
.mlr {
  margin: 0 19% 0 12%;
}
.sec-headings p {
  font-size: 2.4rem;
  color: #8591b0;
  line-height: 4.8rem;
}
.download-btn {
  background: #22233a;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8rem;
  margin-right: 3rem;
  padding: 0.7rem;
  justify-content: space-around;
  width: 20rem;
}

.buttons {
  display: flex;
  /* margin: 40px; */
}
.buttons a:nth-child(2) > div {
  background: #fff;
  color: #22233a;
  border: 1px solid #22233a;
}
.download-btn.google span {
  font-size: 1.6rem;
}
.download-btn.google span span {
  font-size: 2.2rem;
}
.buttons a {
  text-decoration: none;
}
.download-btn img {
  height: 2em;
}

@media only screen and (max-width: 686px) {
  .logo-img-div2 {
    height: 0;
  }
  .logo-img-div1 {
    padding-top: 0.8rem;
    height: 12rem;
  }
  .background {
    height: 8.4rem;
  }
  .header {
    width: 100%;
  }
  .mbl-logo {
    padding: 1rem;
    height: 12rem;
  }
  .mbl-logo img {
    display: block;
    /* height: 80px;
      margin-left: 40px; */
    height: 100%;
    margin-top: -1rem;
    margin-left: 2.5rem;
  }

  .lines {
    position: fixed;
    display: block;
    cursor: pointer;
    right: 2rem;
    top: 2rem;
    z-index: 20;
  }
  .lines div {
    height: 0.3rem;
    background-color: white;
    width: 3.5rem;
    margin: 0.9rem 0;
  }

  .list {
    /* margin-top: 35px; */
  }

  .header {
    display: none;
    transition: all 1s;
    /* flex-direction: column; */
  }
  .header-mbl {
    display: flex;
    flex-direction: column;
    background-color: #d1b561;
    /* height: 100vh;
      width: 100vw; */
    position: absolute;
    /* height: 100%; */
    height: fit-content;
    /* width: 100%; */
    /* justify-content: center;
      align-items: center; */
    margin: 0;
    z-index: 2;
    transition: all 1s;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header__logo-mobile {
    height: 100%;
    margin-top: -1rem;
    margin-left: 2.5rem;
    display: block;
  }

  /* .header-inner-mbl {
      height: 100%;
    } */

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
  }
  ul.list li {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .header__logo {
    margin-bottom: 2rem;
    display: none;
  }
}
