* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem=10px */
}
/* body{
    overflow-x: hidden;
    overflow-y: scroll;
  } */
.pt-70 {
  padding-top: 10rem;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sec-padding {
  padding-top: 20rem;
}
.sec-padding1 {
  padding-top: 15rem;
}
.sec-btm-padding {
  padding-bottom: 10rem;
}
::placeholder {
  font-size: 1.6rem;
  color: #9c9ca8 !important;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  font-size: 1.6rem;
  /* Internet Explorer 10-11 */
  color: #9c9ca8 !important;
}
::-ms-input-placeholder {
  font-size: 1.6rem;
  /* Microsoft Edge */
  color: #9c9ca8 !important;
}
button:focus{outline:none}
/* ---------SLICK --------*/
.slick-prev,
.slick-next {

  opacity: 0.3;
}
/* 
.slick-prev:before,
.slick-next:before {
  color: #d8be6d !important;
}

.slick-next {
  bottom: 4.2rem !important;
  right: 40rem;
} */

.slick-next:before {
  content: url(../images/arrow-right.svg) !important;
}
.slick-prev:before {
  content: url(../images/arrow-left.svg) !important;
}
button.slick-arrow {
  bottom: 3rem;
  left: 50px;
}
.slick-prev {
  left: 2.1rem !important;
  z-index: 2;
}
.selected {
  opacity: 1 !important;
}
/* -------------- */
/* .header__logo {
    height: 100px;
    width: 114px;
  } */
/* .header_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  } */
  .header {
    margin: 0 auto;
    width: 80%;
    height: 8.5rem;
    padding-top: 0rem;
}
.header_container {
  background: linear-gradient(to bottom, #e9d888, #e3cf7e);
  z-index: 10;
}
.logo-img-div2 {
  height: 9.5rem;
}
.logo-img-div2 {
  margin-top: 2rem;
  height: 7rem;
  padding: 0rem 0 2.3rem;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding-top: 4rem; */
}
.header__logo {
  height: 100%;
}

.header__logo-mobile {
  display: none;
}

.list {
  z-index: 12;
  list-style: none;
  display: inline-block;
  padding: 0 2rem;
}

ul.list li {
  display: inline-block;
  padding: 3rem 2rem 1rem;
}

ul.list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

ul.list li a:hover {
  color: #1e2833;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 4.5rem;
  right: 5rem;
  z-index: 99;
  border: none;
  outline: none;
  background: linear-gradient(rgb(189 218 227), rgb(121 161 173));
  color: white;
  cursor: pointer;
  padding: 1.1rem 2rem;
  border-radius: 6rem;
  font-size: 3rem;
}
.mbl-logo img {
  display: none;
}
.lines {
  display: none;
}
.fixed-position {
  position: fixed;
}
.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}
/* Privacy */
.privacy .header_container {
  display: block;
  position: fixed;
  width: 100%;
  background: linear-gradient(
    rgb(181, 214, 224),
    rgb(164, 204, 216)
  ) !important;
}
.privacy-main {
  padding-top: 7rem;
  /* height:90vh */
}
.privacy-main h2 {
  color: #323c5a;
  font-size: 4.8rem;
  line-height: 8.4rem;
  margin: 10rem 0 1rem;
}
.privacy-main p {
  font-size: 2.4rem;
  color: #8591b0;
  line-height: 4.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.prv footer.sec-padding1 {
  padding-top: 10rem;
}
.prv footer {
  background: #fcfcfe;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ---------- */
.main {
  padding-top: 4rem;
  margin-left: 7%;
}
.main-headings {
  padding-top: 10rem;
}
.main-image {
  height: 70rem;
}
.main-image img {
  height: 100%;
}
.main-headings h3 {
  font-weight: 300;
  color: #9c9ca8;
  font-size: 3rem;
  text-transform: uppercase;
}
.main-headings h1 {
  color: #323c5a;
  font-size: 4.8rem;
  line-height: 7.1rem;
  margin: 1rem 0 1rem;
}
.default-btn {
  background: #010000;
  border-radius: 4.8rem;
  height: 5.3rem;
  width: 15.8rem;
  padding: 1rem 2rem;
  font-size: 1.8rem !important;
}
.default-btn:hover {
  background: #779fab;
}
.mycustom {
  border: solid 1px green;
  position: relative;
}
.mycustom input[type="text"] {
  border: none;
  width: 100%;
  padding-right: 12.3rem;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  bottom: 0.4rem;
  z-index: 9;
}
.default-input {
  padding: 3rem !important;
  border-radius: 3rem !important;
  border-color: #b5d6e0 !important;
  border: none;
}
.default-in-grp {
  border: 1px solid #b5d6e0;
  border-radius: 3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.send-btn {
  font-size: 1.7rem;
  background-color: #b5d6e0;
  border: none;
  color: #ffffff;
  border-radius: 3rem;
  padding: 0.9rem 2.4rem;
  margin: 0.6rem 0.6rem;
  float:right;
}
button.send-btn i {
  margin-left: 3rem;
}
.form-control:focus {
  box-shadow: none;
}
.default-in-grp:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
.sec-headings h2 {
  color: #323c5a;
  font-size: 4.8rem;
  line-height: 8.4rem;
  margin: 10rem 0 1rem;
}
.sec-headings span {
  text-transform: uppercase;
  /* letter-spacing: 0px; */
  color: #9c9ca8;
  font-size: 1.8rem;
}
.video-wrap {
  position: relative;
  width: 70%;
  cursor: pointer;
}
.video-wrap img {
  width: 100%;
  height: auto;
}
.video-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5550595238095238) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.video-play {
  color: #fff;
  display: block;
  padding: 0px 1px 0 8px;
  width: 8rem;
  height: 8rem;
  line-height: 8.2rem;
  border-radius: 50%;
  text-align: center;
  background: #b0d3de;
  font-size: 4rem;
}
.video-controls {
  display: flex;
  bottom: 7rem;
  position: absolute;
  left: 18rem;
}
.mlr {
  margin: 0 19% 0 12%;
}
.sec-headings p {
  font-size: 2.4rem;
  color: #8591b0;
  line-height: 4.3rem;
  font-weight: 300;
}
.download-btn {
  background: #22233a;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8rem;
  margin-right: 3rem;
  padding: 1.2rem 1.8rem;
  justify-content: space-around;
  width: 22rem;
}

.buttons {
  display: flex;
  margin-top: 4rem;
}
.buttons a:nth-child(2) > div {
  background: #fff;
  color: #22233a;
  border: 1px solid #22233a;
}
.download-btn.google span {
  font-size: 1.6rem;
  line-height: 1.2;
}
.download-btn.google span span {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
}
.download-btn.google.apple span {
  color: #ffffff;
}
.buttons a {
  text-decoration: none;
}
.download-btn img {
  height: 3rem;
}
.download-btn i {
  font-size: 3rem;
}
.back {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 105rem;
}
.service-image {
  margin-top: 3rem;
  height: 70rem;
}
.service-image img {
  height: 100%;
}
.video-controls h6 {
  color: #fff;
  font-size: 3.3rem;
  font-weight: 300;
  margin-left: 1.5rem;
  line-height: 4.1rem;
}

.video-controls h6 span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.video {
  position: relative;
}
.video-side {
  width: calc(100% - 12rem);
  float: left;
}
.testimonials-slider-wrap {
  position: absolute;
  right: 1.4rem;
  top: 13rem;
  width: 62rem;
}
.slider-div {
  background: transparent linear-gradient(315deg, #b5d6e0 0%, #a4ccd8 100%) 0% 0% no-repeat padding-box;
  padding: 2rem 3rem 7.5rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.slider-div h3 {
  font-size: 10.5rem;
}
.marks{height:10rem}
.marks img{height:100%}

.slider-div p {
  font-size: 2.2rem;
  color: #ffff;
  line-height: 4.5rem;
}
.share-btns {
  /* margin-top: 60px; */
  /* padding: 0 20px 20px; */
  background: #222d39;
  width: 12rem;
  float: right;
  height: 60rem;
}
.share {
  background: #fff;
}

.share-icons {
  padding: 6.37rem 2rem 6.37rem;
  /* padding: 9.27rem 2rem 9.27rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share h6 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: 6px;
  padding: 1rem;
}

.share-icons i {
  margin: 3.1rem 0 2rem;
  color: #4b535d;
}

.profile {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.profile p {
  font-size: 2rem;
  line-height: 2.9rem;
  margin-left: 2.2rem;
}

.profile p span {
  display: block;
  font-size: 1.7rem;
}
.screens-wrap {
  /* position: relative; */
  width: 80%;
  /* cursor: pointer; */
  margin-left: 26%;
}
.screens-wrap img {
  width: 100%;
  height: auto;
}
.mlr-14 {
  margin: 0 14%;
}
section.screens.sec-padding1.back {
  padding-top: 10rem;
}
footer {
  background: #fcfcfe;
}
.send-btn.subscribe {
  background: #222d39;
  margin: 0;
  margin-left: 5px;
  padding: 1rem 4rem;
  font-size: 1.7rem;
}
.btm-footer {
  padding: 2rem 0;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
.footer-ul li {
  display: inline-block;
  margin-left: 1.5rem;
}

.footer-ul li a {
  font-size: 1.6rem;
  color: #9c9ca8;
  text-decoration: none;
}
.btm-footer p {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #9c9ca8;
}
.btm-footer p span {
  color: #222d39;
  font-weight: 600;
}
.apple span {
  color: #ffffff;
}
.sec-headings p:nth-child(2) {
  margin-bottom: 1rem;
}
.back2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 115rem;
}
.video .sec-headings br:nth-child(1) {
  display: none;
}
.video .sec-headings br:nth-child(2) {
  display: none;
}
p.mainPara {
  font-size: 1.8rem;
  color: #aaaaaa;
  font-weight: 300;
  line-height: 3.6rem;
}
.footer-logo {
  height: 8rem;
  text-align: center;
}
.footer-uls h6 {
  font-size: 2.4rem;
  color: #323c5a;
  padding: 0 0px 4.3rem;
}

.footer-cols p {
  color: #aaaaaa;
  font-size: 1.8rem;
}
.social-icons a {
  padding-right: 10px;
}
.contact span {
  display: block;
  margin-top: 6px;
}
.footer-logo img {
  height: 100%;
}
.footer-btns .buttons {
  margin: 6rem 0;
}
.footer-btns .buttons .download-btn {
margin:0rem 4rem;
}
.footer-btns {
  display: flex;
  justify-content: center;
}
.avatar {
  vertical-align: middle;
  width: 9rem;
  height: 9rem;
}
.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 52.5%;
  }
  .mlr {
    margin: 0 14% 0 10%;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 47.5%;
  }
  .mlr {
    margin: 0 9% 0 9%;
  }
  .screens-wrap {
    width: 68%;
  }
  .back2 {
    height: 100rem;
  }
  .sec-headings h2 {
    font-size: 4.5rem;
    line-height: 5.6rem;
    margin: 10rem 0 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .send-btn {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 1024px) {
  .back2 {
    height: 95rem;
  }
}
@media only screen and (max-width: 991px) {
  .sec-headings h2 {
    font-size: 4.8rem;
    line-height: 6rem;
  }
  .sec-headings p {
    font-size: 2.2rem;
    line-height: 3.8rem;
  }
  .service-image {
    height: 63rem;
  }
  .sec-headings h2 {
    margin: 7rem 0 1rem;
  }
  .video .sec-headings br:nth-child(1) {
    display: block;
  }
  .video .sec-headings br:nth-child(2) {
    display: none;
  }
  .video-controls {
    left: 9rem;
  }
  .back2 {
    height: 77rem;
  }
  .header {
    width: 82%;
}
}
@media only screen and (max-width: 831px) {
  br {
    display: none;
  }
  .header {
    width: 88%;
  }
  .main-headings h1 {
    font-size: 4.6rem;
    line-height: 7.2rem;
  }
  .video .sec-headings h2 br {
    display: block;
  }
  button.send-btn i {
    margin-left: 1rem;
  }
  .send-btn1 {
  float:left;
  }
  .main-image {
    height: 63rem;
  }
  .back2 {
    height: 68rem;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 42.5%;
  }
  .back2 {
    height: 77rem;
  }
  .slider-div {
    padding: 1rem 2.7rem 7.5rem;
    height: 53rem;
  }
  .video-wrap {
    width: 100%;
  }
  .share-btns {
    height: 53rem;
  }
  .testimonials-slider-wrap {
    position: absolute;
    right: 0.2rem;
  }
  .main-image {
    /* height: 60rem; */
    padding-top: 10rem;
  }
  .main-headings {
    padding-top: 10rem;
  }
  
  .send-btn, .send-btn1 {
   float:none;
  }
  .background {
    height: 74rem;
  }
  .sec-headings h2 {
    font-size: 4.3rem;
    line-height: 5.4rem;
  }
  .service-image {
    height: 55rem;
    margin-top: 11rem;
  }
  .btm-footer p {
    font-size: 1.6rem;
  }
  .footer-ul li {
    margin-left: 0.9rem;
  }
  .footer-uls {
    text-align: center;
}
.footer-uls h6 {
    padding: 6rem 0rem 1rem;
}
}
@media only screen and (max-width: 686px) {
  .header {
    width: 100%;
  }
  .logo-img-div2 {
    height: 0;
  }
  .logo-img-div1 {
    padding: 1rem;
    height: 10rem;
    padding-top: 3rem;
  }

  .header {
    width: 100%;
  }
  .mbl-logo {
    padding: 1rem;
    height: 10rem;
    padding-top: 3rem;
  }
  .mbl-logo img {
    display: block;
    /* height: 80px;
      margin-left: 40px; */
    height: 100%;
    margin-top: -1rem;
    margin-left: 2.5rem;
  }

  .lines {
    position: fixed;
    display: block;
    cursor: pointer;
    right: 2rem;
    top: 2rem;
    z-index: 20;
  }
  .lines div {
    height: 0.3rem;
    background-color: white;
    width: 3.5rem;
    margin: 0.9rem 0;
  }

  .list {
    /* margin-top: 35px; */
  }

  .header {
    display: none;
    transition: all 1s;
    /* flex-direction: column; */
  }
  .header-mbl {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(181, 214, 224), rgb(164, 204, 216));
    /* height: 100vh;
      width: 100vw; */
    position: absolute;
    /* height: 100%; */
    height: fit-content;
    /* width: 100%; */
    /* justify-content: center;
      align-items: center; */
    margin: 0;
    z-index: 2;
    transition: all 1s;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header__logo-mobile {
    height: 100%;
    margin-top: -1rem;
    margin-left: 2.5rem;
    display: block;
  }

  /* .header-inner-mbl {
      height: 100%;
    } */

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
  }
  ul.list li {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .header__logo {
    margin-bottom: 2rem;
    display: none;
  }
  .download-btn {
    margin-right: 1rem;
    padding: 1.2rem 1.7rem;
    width: 19rem;
  }
}
@media only screen and (max-width: 575px) {
  .main-image {
    display: none;
  }
  .service-image {
    text-align: center;
  }
  .back {
    background-position: left;
  }
  .main-headings {
    text-align: center;
  }
  .back2 {
    background-position: left;
    height: 72rem;
  }
  .btm-footer div:nth-child(1) {
    text-align: center;
  }
  .btm-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btm-footer p {
    line-height: 4.8rem;
  }
  .main-headings {
    margin-right: 3.2rem;
  }
  #services-section {
    height: auto;
  }

  .testimonials-slider-wrap {
    position: static;
    width: 100%;
    padding-top: 4rem;
  }
  .screens-wrap {
    width: 100%;
    margin-left: 0;
  }
  .main-headings {
    padding-top: 10rem;
  }
  .send-btn {
    padding: 0.9rem 2.4rem;
    margin: 0.6rem 0.6rem;
  }
  .default-in-grp {
    background: #ffffff;
  }
  /* .sec-headings h2{text-align: center;} */
  /* .sec-headings h2 , .sec-headings p , .sec-headings span{text-align: center;} */
  .buttons {
    justify-content: center;
  }
  .sec-headings {
    text-align: center;
  }
  .video .sec-headings br:nth-child(1),
  .video .sec-headings br:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .marks{
    height: 8rem;
  }
  .footer-btns .buttons {
    flex-direction: column;
    align-items: center;
}
.footer-btns .buttons .download-btn{margin-bottom:2rem  }
.back {
  background-position: right;
}
}
@media only screen and (max-width: 360px) {
  .slider-div {height: 60rem;}
  .share-btns {height: 60rem;}
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 32.5%;
  }
  #myBtn {
    right: 20px;
  }
  br {
    display: none !important;
  }
}
@media only screen and (max-width: 308px) {
  .profile{margin-top:2rem;}



button.slick-arrow {left:27rem !important;}
button.slick-prev.slick-arrow{left:22rem !important;}
}
@media only screen and (max-width: 384px) {
  .mbl-logo img:nth-child(1) {
    display: none;
}
.mbl-logo img:nth-child(2) {
  display: block !important;
}
}
@media screen and (max-width: 576px) and (min-width: 480px) {
  #services-section {
    height: auto;
}
.back {
  background-position: right;
}
}